:root {
    --side-length-board: min(64dvw, 64dvh);
    --side-length-square: min(20dvw, 20dvh);
    --side-length-x: min(16dvw, 16dvh);
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: black;
}

h1 {
    margin-top: 50px;
    color: white;
}

#game-container {
    width: var(--side-length-board);
    height: var(--side-length-board);
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    width: var(--side-length-square);
    height: var(--side-length-square);
    font-size: var(--side-length-x);
    background-color: lightgray;
}

.square:hover {
    background-color: white;
}